/*Page Style*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.full-height3 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.header3 {
    background: rgb(0,71,171,1);
    height: 30px;
    color: white;
    line-height: 30px;
    font-weight: bold;
}

.nav-link {
    margin-right: 20px; 
    text-decoration: none;
    color: rgb(255,255,255,1);
}

/* Content */
.content3 {
    flex-grow: 1;
    float: right;
    width: 95%;
}

/* Footer */
.footer3 {
    background: rgb(0,71,171,1);
    height: 30px;
    color: white;
    line-height: 30px;
    font-size: 7pt;
    text-align: center;
    font-weight: bold;
}


.left-image3 {
    width: 30%; /* Take up half of the container width */
    float: left; /* Float the images to the left */
    margin-right: 20px; /* Add some spacing between the image and the content */
}
.right-image3{
    width: 30%; /* Take up half of the container width */
    float: right; /* Float the images to the left */
    margin-right: 20px; /* Add some spacing between the image and the content */
    
}

.left-image3 img {
    width: 100%; /* Ensure the image fills the container */
    height: 400px; /* Maintain aspect ratio */
}
.right-image3 img {
    width: 100%; /* Ensure the image fills the container */
    height: 420px; /* Maintain aspect ratio */
}