html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.full-height{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
/* Header */
.header {
    background: rgb(0,71,171,1);
    height: 20px; /* Decreased header height */
    color: white;
    line-height: 20px; /* Adjusted line height */
    font-weight: bold;
    position: fixed; /* Fixed positioning to keep header at the top */
    top: 0;
    left: 0;
    width: 100%;
}

/* Footer */
.footer {
    background: rgb(0,71,171,1);
    height: 10px; /* Decreased footer height */
    color: white;
    line-height: 15px; /* Adjusted line height */
    font-size: 7pt;
    text-align: center;
    font-weight: bold;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-link {
    margin-right: 20px; 
    text-decoration: none;
    color: rgb(255,255,255,1);
}

/* Content */
.content {
    flex-grow: 1; 
    align-items: center;
    box-sizing: border-box; /* Include padding in width calculation */
    width: 80%; /* Ensure content takes up the full width */
    height: calc(100% - 60px); /* aCalculate height of content area */
}
.content img {
    max-width: 100%; /* Ensuring image fits within container */
    height: auto; /* Ensuring aspect ratio is maintained */
    margin-right: 20px; /* Added margin for spacing */
}

.button{
    float:right;
    padding-right: 1px;
    border: 1px;
    color: rgb(0,71,171,1);
    padding: 5px 20px; /* Increased padding for better clickability */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Increased font size for better visibility */
    cursor: pointer;
}
.button:hover {
    background-color: rgb(242, 22, 22)
}

.button1{
    float:right;
    margin-right: 10px;
    padding-right: 1px;
    border: 1px;
    color: #0047ab;
    padding: 5px 20px; /* Increased padding for better clickability */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; /* Increased font size for better visibility */
    cursor: pointer;
}

.button1:hover {
    background-color: rgb(255,255,255,1)
}

/* Paragraph Styles */
p {
    font-size: 17px; /* Increased font size for better readability */
    line-height: 1.6; /* Adjusted line height for better spacing */
    color: #333;
    margin-bottom: 30px; /* Increased margin for better spacing */
}


.btn {
    float: left;
    padding-right: 1px;
    border: none;
    color: rgb(171, 0, 17);
    padding: 5px 20px; /* Increased padding for better clickability */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; /* Increased font size for better visibility */
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(171 ,0,17)
}

.multi-color-text {
    background: linear-gradient(to right, #dc0a11, #4e0ad6, #0ee636, #ff9a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text 3s ease infinite;
}

@keyframes rainbow-text {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

